.about-section {
    height: 1000px;
}

.section-title {
    font-size: 3rem;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-content * {
    width: 100%;
}

.about-text {
    padding: 0 45px;
}