html {
    scroll-behavior: smooth;
}

* {
    scroll-margin-top: 64px;
    overflow-x: hidden; /* there will never be a need for horizontal scrolling */
}

@media (max-width: 870px) {
    * {
        scroll-margin-top: 44px;
    
    }
}